<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/png" href="https://dkhannaweddingcontentsa.blob.core.windows.net/thumbnails/Icon.png?sp=r&st=2024-04-03T18:37:36Z&se=2025-04-04T02:37:36Z&spr=https&sv=2022-11-02&sr=b&sig=HJKVKVP0I2sO4X%2FlkjqpdzhZLjzJH74I75QwM1dBg6o%3D">
    <base href="~/" />
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
