<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/png" href="https://dkhannaweddingcontentsa.blob.core.windows.net/thumbnails/Logo-5-Gold_StickerPrint.png?sp=r&st=2024-04-03T18:27:03Z&se=2025-04-04T02:27:03Z&spr=https&sv=2022-11-02&sr=b&sig=4uFPBkSFtNxjqxvDID0XHYZnWf66opUUKDSE5mxk3PY%3D">
    <base href="~/" />
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
