<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/png" href="https://dkhannaweddingcontentsa.blob.core.windows.net/thumbnails/DSLogo.png?sp=r&st=2024-03-23T19:12:44Z&se=2024-12-31T03:12:44Z&spr=https&sv=2022-11-02&sr=c&sig=yLyAQz3nqAOSbgdWgTXk4ywibwtVJEtXiycFTXkovac%3D">
    <base href="~/" />
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
